<main>
	<div class="row">
	  <div class="col-sm-4">
	  	<div *ngIf="users">
			<ul class="list-group users-list">
			  <li class="list-group-item"
			  	*ngFor="let user of users"
			  	(click)="selectUser(user)"
			  	[class.active]="user===activeUser"
			  	>
			  	{{user.name}}
			  </li>
			</ul>
	  	</div>
	  </div>
	  <div class="col-sm-8">
	  	<user-profile [user]="activeUser"></user-profile>
	  	<div *ngIf="!activeUser">
	  		No User is selected!!
	  	</div>
	  </div>
	</div>
</main>